extends layout

block content
    div(class='mdl-grid')
        div(class='mdl-cell mdl-cell--12-col mdl-cell--12-col-phone')
            div(class='post-card-from-list mdl-card mdl-shadow--2dp')
                div(class='mdl-card__title')
                    h2(class='mdl-card__title-text') Welcome to my #{title}
                div(class='mdl-card__supporting-text')
                    p.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin aliquet nibh arcu, ac congue tortor ullamcorper vitae.
                    p.
                        Duis a feugiat tellus, ac finibus purus. Pellentesque efficitur euismod lacus et ultrices. Aenean dignissim, nibh vel mollis lobortis, quam sapien sodales dui, sed pretium mi neque nec massa.
                    p.
                        Aliquam eu enim lectus. Vestibulum ac volutpat erat. Nunc mollis justo risus, a blandit erat lacinia in. Sed ut ligula semper, fringilla sapien ut, tincidunt metus. Integer tempor velit sed nibh vehicula finibus.
                    p.
                        Vivamus et efficitur ligula, id efficitur justo. Fusce non nisl ut metus luctus pretium. Etiam ullamcorper, ante vel facilisis lobortis, dui nulla ullamcorper leo, sed sodales tortor sapien in turpis.