doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/material-design-lite/material.min.css')
        link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
        link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700', type='text/css')
        link(rel='stylesheet', href='/material-design-lite-modal/css/material-modal.min.css')


        meta(name='viewport', content='width=device-width, initial-scale=1.0')
    body
        div(class='mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header')
            include navigationbar
            include navigationdrawer
            include pagedata
        script(src='/material-design-lite/material.min.js')
        script(src='/material-design-lite-modal/js/material-modal.min.js')