block navigationdrawer
    div(class='mdl-layout__drawer')
        nav(class='mdl-navigation')
            a(class='mdl-navigation__link', href='/') Home
            a(class='mdl-navigation__link', href='/posts') Posts
            a(class='mdl-navigation__link', href='/about') About
            a(class='mdl-navigation__link', href='/login') Login