block navigationbar
    header(class='mdl-layout__header')
        div(class='mdl-layout__header-row')
            if title
                span(class='mdl-layout-title') #{title}
            div(class='mdl-layout-spacer')
