body {
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    background-color: #fafafa;
}

.post-card-from-list {
    margin-top: 30px;
    width: 100% !important;
}

.post-card-from-list > .mdl-card__supporting-text > p {
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.post-card-single {
    margin-top: 30px;
    width: 100% !important;
}


.overflow-bottom-edge {
    position: fixed;
    bottom: 0;
    right: 0;
    padding-bottom: 20px;
    padding-right: 20px;
    z-index: 1000;
}

.small{
    font-size: 0.75em;
}