extends ../layout

block content
    div(class='mdl-grid')
        div(class='mdl-cell mdl-cell--12-col mdl-cell--12-col-phone')
            div(class='post-card-from-list mdl-card mdl-shadow--2dp')
                div(class='mdl-card__title')
                    h2(class='mdl-card__title-text') Log In
                div(class='mdl-card__supporting-text')
                    if loggedin
                        span You are 'Logged In'
                        br
                        br
                        form(method='POST', action='/login/logout')
                            input(class='mdl-button mdl-js-button mdl-button--raised mdl-button--accent', type='submit', value='Logout')
                    else
                        span You are 'Not Logged In'
                        br
                        br
                        form(method='POST', action='/login/login')
                            div(class='mdl-textfield mdl-js-textfield mdl-textfield--floating-label')
                                input(class='mdl-textfield__input', type='text', name='username' id='username')
                                label(class='mdl-textfield__label', for='username') Username
                            br
                            div(class='mdl-textfield mdl-js-textfield mdl-textfield--floating-label')
                                input(class='mdl-textfield__input', type='password', name='password', id='password')
                                label(class='mdl-textfield__label', for='password') Password
                            br
                            input(class='mdl-button mdl-js-button mdl-button--raised mdl-button--colored', type='submit', value='Submit')
