extends ../layout

block content
    div(class='mdl-grid')
        div(class='mdl-cell mdl-cell--12-col mdl-cell--12-col-phone')
            div(class='post-card-from-list mdl-card mdl-shadow--2dp')
                div(class='mdl-card__title')
                    h2(class='mdl-card__title-text') Log In
                div(class='mdl-card__supporting-text')
