extends ../layout

block content
    div(class='mdl-grid')
        div(class='mdl-cell mdl-cell--6-col mdl-cell--12-col-phone')
            div(class='post-card-single mdl-card mdl-shadow--2dp')
                div(class='mdl-card__title')
                    h2(class='mdl-card__title-text') #{title}
                div(class='mdl-card__supporting-text')
                    span(class='small') Published #{published}
                    p #{content}
                div(class='mdl-card__actions mdl-card--border')
                    a(class='mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect', href='/posts') Return
                if isLoggedIn
                    div(class='mdl-card__menu')
                        button(class='mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect modal__trigger', data-modal='#editPost')
                            i(class='material-icons') mode_edit

    if isLoggedIn
        div(class='modal modal__bg', id='editPost')
            div(class='modal__dialog')
                div(class='modal__content')
                    div(class='modal__header')
                        div(class='modal__title')
                            h2(class='modal__title-text') Edit Post
                        span(class='mdl-button mdl-button--icon mdl-js-button  material-icons  modal__close')

                    div(class='modal__text')
                        form(method='POST', action='/posts/#{id}/edit')
                            div(class='mdl-textfield mdl-js-textfield mdl-textfield--floating-label')
                                input(class='mdl-textfield__input', type='text', name='title', id='newtitle', value='#{title}')
                                label(class='mdl-textfield__label', for='newtitle') Title
                            br
                            div(class='mdl-textfield mdl-js-textfield mdl-textfield--floating-label')
                                textarea(class='mdl-textfield__input', type='text', rows='5', cols='8', name='content', id='newcontent') #{content}
                                label(class='mdl-textfield__label', for='content') Content
                            br
                            input(class='mdl-button mdl-js-button mdl-button--raised mdl-button--colored', type='submit', value='Save')

